# Binarios de Go
*.exe
*.exe.test
*.out
*.app
*.o

chat
mi-servidor
chago

feature/workers/uploads/
feature/file-server/uploads/

feature/workers/downloads/
feature/file-server/uploads

# Directorios de compilación
bin/
dist/
